<ion-header-bar class="bar-positive">
  <button class="button button-icon ion-navicon" ng-click="toggleLeft()" ng-hide="$exposeAside.active"></button>
  <h1 class="title">Πότισμα</h1>
</ion-header-bar>
<ion-content>
  <div class="card">
    <div class="item item-text-wrap">
      Συμπληρώστε τα 2 από τα 3 πεδία, πατήστε υπολογισμός και θα εμφανιστεί το τρίτο.
    </div>
  </div>
  
  <div class="list">
    <label class="item item-input item-stacked-label">
      <span class="input-label">Συνολική απόσταση</span>
      <input type="text" placeholder="μέτρα" ng-model="data.totalLength">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Μέτρα ανά λεπτό</span>
      <input type="text" placeholder="μέτρα" ng-model="data.metersPerMinute">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Συνολικός χρόνος</span>
      <input type="text" placeholder="λεπτά:δευτερόλεπτα" ng-model="data.totalTime">
    </label>
  </div>
  
  <button class="button button-block button-positive" ng-click="calculate()">
    Υπολογισμός
  </button>
</ion-content>
